# Check if a serial number has been manually set with the nerves_serial_number
# U-Boot environment variable.
-b uboot_env -u nerves_serial_number

# Get the board identifier from the ATECC Trust&GO crypto chip if using the SOM.
-b atecc508a -X -a 0x35 -f /dev/i2c-0

# Fall back to using the MAC address.
-b macaddr
